details {
  display: block;
  margin: 0 0 25px 0;

  summary {
    background-image: url("images/details-icons.png");
    background-position: left 0px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 3px 0 5px 25px;

    &:hover {
      background-position: left -25px;
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .details-content {
    display: none;
  }
}

details[open] {
  summary {
    background-position: left -50px;

    &:hover {
      background-position: left -75px;
    }
  }

  .details-content {
    display: block;
    margin-left: 25px;
  }
}

details {
  display: block;
  margin: 0 0 25px 0;
}